#whole {
  background-color: #F9E368;
}

.main-headline {
  padding-top: 2em;
  margin-left: 2em;
  font-size: xx-large;
  color: #1F81EF;
  font-family: 'MuseoModerno', cursive;
}

.search-term-title {
  height: 1em;
  color: #D74A11 ;
  font-family: 'Archivo', sans-serif;
}

.sub-red {
  color: #D74A11 ;
}

.archivo-font, li {
  font-family: 'Archivo', sans-serif;
}